### –û–±—ä–µ–¥–∏–Ω–µ–Ω–∏–µ —Ç–∞–±–ª–∏—Ü –≤ pandas.

–ü—Ä–∏–≤–µ—Ç, —á–∞—Ç! –í —ç—Ç–æ–º –ø—Ä–æ–µ–∫—Ç–µ –≤—ã —Å—Ç–æ–ª–∫–Ω–µ—Ç–µ—Å—å —Å—Ä–∞–∑—É —Å –Ω–µ—Å–∫–æ–ª—å–∫–∏–º–∏ —Ç–∞–±–ª–∏—Ü–∞–º–∏ –∏ —è —Å—á–∏—Ç–∞—é –Ω–µ –ø–æ–º–µ—à–∞–µ—Ç –≤—Å–ø–æ–º–Ω–∏—Ç—å, –∫–∞–∫ –∏—Ö –≥—Ä–∞–º–æ—Ç–Ω–æ –æ–±—ä–µ–¥–∏–Ω—è—Ç—å.

–ò—Ç–∞–∫, –≤–Ω–æ–≤—å –≤–æ–∑—å–º–µ–º –∑–Ω–∞–∫–æ–º—É—é –Ω–∞–º —Ç–∞–±–ª–∏—Ü—É —Å –¥–∞–Ω–Ω—ã–º–∏ –ø–æ –∑–∞—Ä–ø–ª–∞—Ç–∞–º –∞–Ω–∞–ª–∏—Ç–∏–∫–æ–≤ –≤ —É—Å–ª–æ–≤–Ω—ã—Ö –µ–¥–∏–Ω–∏—Ü–∞—Ö.

In [24]:
import pandas as pd

df = pd.DataFrame(data={'–ò–º—è': ['–ê–Ω–Ω–∞', '–°–µ—Ä–≥–µ–π', '–ê–ª–µ–∫—Å–µ–π', '–°–µ—Ä–≥–µ–π', '–ï–∫–∞—Ç–µ—Ä–∏–Ω–∞'], '–§–∞–º–∏–ª–∏—è': ['–ï–≥–æ—Ä–æ–≤–∞', '–¢–∏—â–µ–Ω–∫–æ', '–ú–∞–µ–≤—Å–∫–∏–π', '–ü–µ–Ω—å–∫–æ–≤', '–ù–∏–∫–æ–Ω–æ–≤–∞'] ,'–Ø–Ω–≤–∞—Ä—å': [1000, 1300, 800, 1100, 2000], '–§–µ–≤—Ä–∞–ª—å': [1100, 1250, 750, 1100, 1800], 
     '–ú–∞—Ä—Ç': [950, 1320, 900, 1200, 1950]})
df

         –ò–º—è   –§–∞–º–∏–ª–∏—è  –Ø–Ω–≤–∞—Ä—å  –§–µ–≤—Ä–∞–ª—å  –ú–∞—Ä—Ç
0       –ê–Ω–Ω–∞   –ï–≥–æ—Ä–æ–≤–∞    1000     1100   950
1     –°–µ—Ä–≥–µ–π   –¢–∏—â–µ–Ω–∫–æ    1300     1250  1320
2    –ê–ª–µ–∫—Å–µ–π  –ú–∞–µ–≤—Å–∫–∏–π     800      750   900
3     –°–µ—Ä–≥–µ–π   –ü–µ–Ω—å–∫–æ–≤    1100     1100  1200
4  –ï–∫–∞—Ç–µ—Ä–∏–Ω–∞  –ù–∏–∫–æ–Ω–æ–≤–∞    2000     1800  1950

–î–æ–ø—É—Å—Ç–∏–º, —É –Ω–∞—Å –µ—Å—Ç—å –æ—Ç–¥–µ–ª—å–Ω–∞—è —Ç–∞–±–ª–∏—Ü–∞, –≥–¥–µ —Ö—Ä–∞–Ω—è—Ç—Å—è –¥–∞–Ω–Ω—ã–µ –ø–æ –Ω–∞–∫–æ–ø–ª–µ–Ω–Ω–æ–º—É —Å—Ç–∞–∂—É –≤ –º–µ—Å—è—Ü–∞—Ö –¥–ª—è —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤:

In [25]:
status = pd.DataFrame(data={'–§–∞–º–∏–ª–∏—è': ['–ï–≥–æ—Ä–æ–≤–∞', '–¢–∏—â–µ–Ω–∫–æ', '–ú–∞–µ–≤—Å–∫–∏–π', '–°–∞–º—Å–æ–Ω–æ–≤', '–ù–∏–∫–æ–Ω–æ–≤–∞'], '–°—Ç–∞–∂':[6,18,12,4,10]})
status

    –§–∞–º–∏–ª–∏—è  –°—Ç–∞–∂
0   –ï–≥–æ—Ä–æ–≤–∞     6
1   –¢–∏—â–µ–Ω–∫–æ    18
2  –ú–∞–µ–≤—Å–∫–∏–π    12
3  –°–∞–º—Å–æ–Ω–æ–≤     4
4  –ù–∏–∫–æ–Ω–æ–≤–∞    10

–í —Ç–∞–∫–æ–º –≤–∏–¥–µ –¥–∞–Ω–Ω—ã–µ —Ö—Ä—è–Ω—è—Ç—Å—è –æ—á–µ–Ω—å —á–∞—Å—Ç–æ –∏ –≤–∞–º –ø–æ—Å—Ç–æ—è–Ω–Ω–æ –ø—Ä–∏–¥–µ—Ç—Å—è –æ–±—ä–µ–¥–∏–Ω—è—Ç—å —Ä–∞–∑–ª–∏—á–Ω—ã–µ —Ç–∞–±–ª–∏—Ü—ã, —á—Ç–æ–±—ã –ø–æ–ª—É—á–∏—Ç—å –ø–æ–ª–Ω—É—é –∫–∞—Ä—Ç–∏–Ω—É.

–ü—Ä–µ–¥–ø–æ–ª–æ–∂–∏–º, —á—Ç–æ —É –Ω–∞—Å –Ω–µ—Ç –æ–¥–Ω–æ—Ñ–∞–º–∏–ª—å—Ü–µ–≤ –∏ —Ñ–∞–º–∏–ª–∏—è –æ–¥–Ω–æ–∑–Ω–∞—á–Ω–æ –æ–ø—Ä–µ–¥–µ–ª—è–µ—Ç —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–∞. –ë—ã–ª–æ –±—ã —Ö–æ—Ä–æ—à–æ –ø—Ä–∏—Å–æ–µ–¥–∏–Ω–∏—Ç—å –∫ –æ–±—â–µ–π —Ç–∞–±–ª–∏—Ü–µ –¥–∞–Ω–Ω—ã–µ –æ —Å—Ç–∞–∂–µ –∏ –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –≤—Å–µ —Å—Ä–∞–∑—É. –î–ª—è —ç—Ç–æ–≥–æ –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –º–µ—Ç–æ–¥ `merge`. –î–∞–≤–∞–π—Ç–µ –ø—Ä–∏–º–µ–Ω–∏–º –µ–≥–æ, —É–∫–∞–∑–∞–≤ —Ñ–∞–º–∏–ª–∏—é –≤ –∫–∞—á–µ—Å—Ç–≤–µ —Å—Ç–æ–ª–±—Ü–∞ –¥–ª—è –æ–±—ä–µ–¥–∏–Ω–µ–Ω–∏—è –∏ –ø–æ—Å–º–æ—Ç—Ä–∏–º, —á—Ç–æ –ø–æ–ª—É—á–∏—Ç—Å—è:

In [26]:
df.merge(status, on='–§–∞–º–∏–ª–∏—è')

         –ò–º—è   –§–∞–º–∏–ª–∏—è  –Ø–Ω–≤–∞—Ä—å  –§–µ–≤—Ä–∞–ª—å  –ú–∞—Ä—Ç  –°—Ç–∞–∂
0       –ê–Ω–Ω–∞   –ï–≥–æ—Ä–æ–≤–∞    1000     1100   950     6
1     –°–µ—Ä–≥–µ–π   –¢–∏—â–µ–Ω–∫–æ    1300     1250  1320    18
2    –ê–ª–µ–∫—Å–µ–π  –ú–∞–µ–≤—Å–∫–∏–π     800      750   900    12
3  –ï–∫–∞—Ç–µ—Ä–∏–Ω–∞  –ù–∏–∫–æ–Ω–æ–≤–∞    2000     1800  1950    10

–û—Ç–ª–∏—á–Ω–æ, –ø–æ–ª—É—á–∏–ª–∏ —Ç–∞–±–ª–∏—Ü—É —Å –ø–æ–ª–Ω—ã–º–∏ –¥–∞–Ω–Ω—ã–º–∏, –Ω–æ, –ø–æ—Ö–æ–∂–µ, –∫–æ–≥–æ-—Ç–æ –ø–æ—Ç–µ—Ä—è–ª–∏! –î–µ–π—Å—Ç–≤–∏—Ç–µ–ª—å–Ω–æ, –ø—Ä–æ–ø–∞–ª –°–µ—Ä–≥–µ–π –ü–µ–Ω—å–∫–æ–≤. –î—É–º–∞—é, –≤—Å–µ –¥–æ–≥–∞–¥–∞–ª–∏—Å—å, —á—Ç–æ —ç—Ç–æ –ø—Ä–æ–∏–∑–æ—à–ª–∏ –æ—Ç—Ç–æ–≥–æ, —á—Ç–æ –µ–≥–æ –Ω–µ—Ç –≤–æ –≤—Ç–æ—Ä–æ–π —Ç–∞–±–ª–∏—Ü–µ. –ù–æ –æ–±—Ä–∞—Ç–∏—Ç–µ –≤–Ω–∏–º–∞–Ω–∏–µ, –Ω–µ–∫–æ–µ–≥–æ –°–∞–º—Å–æ–Ω–æ–≤–∞ –∏–∑ —Ç–∞–±–ª–∏—Ü—ã status –≤ –∏—Ç–æ–≥–æ–≤–æ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç–µ —Ç–æ–∂–µ –Ω–µ—Ç.  
–≠—Ç–æ –≤—Å–µ —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤—ã–±—Ä–∞ –º–µ—Ç–æ–¥–∞ –æ–±—ä–µ–¥–∏–Ω–µ–Ω–∏—è, –∫–æ—Ç–æ—Ä—ã–π –∑–∞–¥–∞–µ—Ç—Å—è –≤ –∞—Ä–≥—É–º–µ–Ω—Ç–µ *how*. –ü–æ —É–º–æ–ª—á–∞–Ω–∏—é –æ–Ω –∏–º–µ–µ—Ç –∑–Ω–∞—á–µ–Ω–∏–µ *inner*. –¢–æ –µ—Å—Ç—å –º—ã –ø—Ä–æ–≤–æ–¥–∏–º –≤–Ω—É—Ç—Ä–µ–Ω–Ω–µ–µ –æ–±—ä–µ–¥–∏–Ω–µ–Ω–∏–µ - –≤ –∏—Ç–æ–≥–æ–≤–æ–π —Ç–∞–±–ª–∏—Ü–µ –æ–∫–∞–∂—É—Ç—Å—è —Ç–æ–ª—å–∫–æ —Ç–µ —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–∏, –¥–ª—è –∫–æ—Ç–æ—Ä—ã—Ö –Ω–∞—à–ª–∏—Å—å –æ–¥–∏–Ω–∞–∫–æ–≤—ã–µ —Ñ–∞–º–∏–ª–∏–∏ –∏ –≤ –ø—Ä–∞–≤–æ–π –∏ –≤ –ª–µ–≤–æ–π —Ç–∞–±–ª–∏—Ü–∞—Ö.  
–ù–æ —á—Ç–æ –µ—Å–ª–∏ –º—ã –Ω–µ —Ö–æ—Ç–∏–º —Ç–µ—Ä—è—Ç—å –°–µ—Ä–≥–µ—è –∏ –≥–æ—Ç–æ–≤—ã –º–∏—Ä–∏—Ç—å—Å—è —Å –ø—Ä–æ–ø—É—Å–∫–æ–º –Ω–∞ –º–µ—Å—Ç–µ –µ–≥–æ —Å—Ç–∞–∂–∞? –ü—Ä–∏–º–µ–Ω–∏–º —Ç–∏–ø –æ–±—ä–µ–¥–∏–Ω–µ–Ω–∏—è *left*:

In [27]:
df.merge(status, on='–§–∞–º–∏–ª–∏—è', how = 'left')

         –ò–º—è   –§–∞–º–∏–ª–∏—è  –Ø–Ω–≤–∞—Ä—å  –§–µ–≤—Ä–∞–ª—å  –ú–∞—Ä—Ç  –°—Ç–∞–∂
0       –ê–Ω–Ω–∞   –ï–≥–æ—Ä–æ–≤–∞    1000     1100   950   6.0
1     –°–µ—Ä–≥–µ–π   –¢–∏—â–µ–Ω–∫–æ    1300     1250  1320  18.0
2    –ê–ª–µ–∫—Å–µ–π  –ú–∞–µ–≤—Å–∫–∏–π     800      750   900  12.0
3     –°–µ—Ä–≥–µ–π   –ü–µ–Ω—å–∫–æ–≤    1100     1100  1200   NaN
4  –ï–∫–∞—Ç–µ—Ä–∏–Ω–∞  –ù–∏–∫–æ–Ω–æ–≤–∞    2000     1800  1950  10.0

–û—Ç–ª–∏—á–Ω–æ, –≤—Å–µ —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–∏ –∏–∑ –Ω–∞—á–∞–ª—å–Ω–æ–π —Ç–∞–±–ª–∏—Ü—ã –Ω–∞ –º–µ—Å—Ç–µ. –ê –°–µ—Ä–≥–µ–π, –≤–æ–∑–º–æ–∂–Ω–æ, –µ—â–µ –Ω–µ –Ω–∞—Ä–∞–±–æ—Ç–∞–ª —Ä–µ–ª–µ–≤–∞–Ω—Ç–Ω–æ–≥–æ —Å—Ç–∞–∂–∞, –Ω–æ —ç—Ç–æ –Ω–µ –ø–æ–≤–æ–¥ –∏—Å–∫–ª—é—á–∞—Ç—å –µ–≥–æ –∏–∑ –∞–Ω–∞–ª–∏–∑–∞.  
*–ü—Ä–∏ –≤—ã–±–æ—Ä–µ —Ç–∏–ø–∞ –æ–±—ä–µ–¥–∏–Ω–µ–Ω–∏—è **left** –±–µ—Ä—É—Ç—Å—è –≤—Å–µ —Å—Ç—Ä–æ–∫–∏ –∏–∑ –ª–µ–≤–æ–π —Ç–∞–±–ª–∏—Ü—ã –∏ –∏–º –∏—â—É—Ç—Å—è —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–∏—è –≤ –ø—Ä–∞–≤–æ–π. –ï—Å–ª–∏ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–∏—è –Ω–µ—Ç, —Å—Ç–∞–≤–∏—Ç—Å—è –ø—Ä–æ–ø—É—Å–∫.*

–ê–Ω–∞–ª–æ–≥–∏—á–Ω–æ, –µ—Å–ª–∏ –º—ã —Ö–æ—Ç–∏–º —É–≤–∏–¥–µ—Ç—å –≤—Å–µ—Ö —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤, –ø–æ –∫–æ—Ç–æ—Ä—ã–º –µ—Å—Ç—å –¥–∞–Ω–Ω—ã–µ –ø–æ —Å—Ç–∞–∂—É (—Ç–æ –µ—Å—Ç—å –∏–∑ –ø—Ä–∞–≤–æ–π —Ç–∞–±–ª–∏—Ü—ã) –ø—Ä–∏–º–µ–Ω–∏–º —Ç–∏–ø –æ–±—ä–µ–¥–∏–Ω–µ–Ω–∏—è *right*:

In [28]:
df.merge(status, on='–§–∞–º–∏–ª–∏—è', how = 'right')

         –ò–º—è   –§–∞–º–∏–ª–∏—è  –Ø–Ω–≤–∞—Ä—å  –§–µ–≤—Ä–∞–ª—å    –ú–∞—Ä—Ç  –°—Ç–∞–∂
0       –ê–Ω–Ω–∞   –ï–≥–æ—Ä–æ–≤–∞  1000.0   1100.0   950.0     6
1     –°–µ—Ä–≥–µ–π   –¢–∏—â–µ–Ω–∫–æ  1300.0   1250.0  1320.0    18
2    –ê–ª–µ–∫—Å–µ–π  –ú–∞–µ–≤—Å–∫–∏–π   800.0    750.0   900.0    12
3  –ï–∫–∞—Ç–µ—Ä–∏–Ω–∞  –ù–∏–∫–æ–Ω–æ–≤–∞  2000.0   1800.0  1950.0    10
4        NaN  –°–∞–º—Å–æ–Ω–æ–≤     NaN      NaN     NaN     4

–í–∏–¥–∏–º, —á—Ç–æ –ø—Ä–æ—á–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å–æ—Ç—Ä—É–¥–Ω–∏–∫—É –°–∞–º—Å–æ–Ω–æ–≤—É –Ω–µ—Ç, –Ω–æ –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –µ–≥–æ —Å—Ç–∞–∂ –º—ã —Å–º–æ–∂–µ–º. –ê –°–µ—Ä–≥–µ–π –ü–µ–Ω—å–∫–æ–≤ —Å–Ω–æ–≤–∞ –ø—Ä–æ–ø–∞–ª, —Ç–∞–∫ –∫–∞–∫ –¥–∞–Ω–Ω—ã–µ –ø–æ –µ–≥–æ —Å—Ç–∞–∂—É –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—Ç.

–ò, –Ω–∞–∫–æ–Ω–µ—Ü, –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –æ–±—ä–µ–¥–∏–Ω–µ–Ω–∏–µ –ø–æ –≤—Å–µ–º –∏–º–µ—é—â–∏–º—Å—è —Å—Ç—Ä–æ–∫–∞–º, –ø—Ä–∏–º–µ–Ω–∏–≤ –º–µ—Ç–æ–¥ –æ–±—ä–µ–¥–∏–Ω–µ–Ω–∏—è *outer*:

In [29]:
df.merge(status, on='–§–∞–º–∏–ª–∏—è', how = 'outer')

         –ò–º—è   –§–∞–º–∏–ª–∏—è  –Ø–Ω–≤–∞—Ä—å  –§–µ–≤—Ä–∞–ª—å    –ú–∞—Ä—Ç  –°—Ç–∞–∂
0       –ê–Ω–Ω–∞   –ï–≥–æ—Ä–æ–≤–∞  1000.0   1100.0   950.0   6.0
1     –°–µ—Ä–≥–µ–π   –¢–∏—â–µ–Ω–∫–æ  1300.0   1250.0  1320.0  18.0
2    –ê–ª–µ–∫—Å–µ–π  –ú–∞–µ–≤—Å–∫–∏–π   800.0    750.0   900.0  12.0
3     –°–µ—Ä–≥–µ–π   –ü–µ–Ω—å–∫–æ–≤  1100.0   1100.0  1200.0   NaN
4  –ï–∫–∞—Ç–µ—Ä–∏–Ω–∞  –ù–∏–∫–æ–Ω–æ–≤–∞  2000.0   1800.0  1950.0  10.0
5        NaN  –°–∞–º—Å–æ–Ω–æ–≤     NaN      NaN     NaN   4.0

–í—Å–µ –∏–º–µ—é—â–∏–µ—Å—è –≤ –¥–≤—É—Ö —Ç–∞–±–ª–∏—Ü–∞—Ö —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–∏ –Ω–∞ –º–µ—Å—Ç–µ, –Ω–æ –µ—Å—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏ –≤ –¥–∞–Ω–Ω—ã—Ö.

–ö–∞–∫ –≤–∏–¥–∏–º, –≤—Å–µ –æ—á–µ–Ω—å –ø—Ä–æ—Å—Ç–æ, –Ω–æ –±—É–¥—å—Ç–µ –∞–∫–∫—É—Ä–∞—Ç–Ω—ã, –Ω–µ–≤–µ—Ä–Ω–æ –≤—ã–±—Ä–∞–≤ –º–µ—Ç–æ–¥ –æ–±—ä–µ–¥–∏–Ω–µ–Ω–∏—è, –º–æ–∂–Ω–æ –ø–æ—Ç–µ—Ä—è—Ç—å –¥–∞–Ω–Ω—ã–µ.

–¢–∞–∫–∂–µ, –Ω—É–∂–Ω–æ –±—ã—Ç—å –∞–∫–∫—É—Ä–∞—Ç–Ω—ã–º–∏ –∏ —Å–ª–µ–¥–∏—Ç—å, —á—Ç–æ–±—ã –∫–ª—é—á–∏ –±—ã–ª–∏ —É–Ω–∏–∫–∞–ª—å–Ω—ã–º–∏, –∏–Ω–∞—á–µ —Ä–µ–∑—É–ª—å—Ç–∞—Ç –º–æ–∂–µ—Ç –±—ã—Ç—å –Ω–µ–æ–∂–∏–¥–∞–Ω–Ω—ã–º.  
–î–æ–±–∞–≤–∏–º –≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –∏–º–µ–Ω–∞ –∏ –ø–æ–ø—Ä–æ–±—É–µ–º –ø—Ä–æ–≤–µ—Å—Ç–∏ –æ–±—ä–µ–¥–∏–Ω–µ–Ω–∏–µ –ø–æ –Ω–∏–º

In [39]:
status = pd.DataFrame(data={'–ò–º—è': ['–ê–Ω–Ω–∞', '–°–µ—Ä–≥–µ–π', '–ê–ª–µ–∫—Å–µ–π', '–°–µ—Ä–≥–µ–π', '–ï–∫–∞—Ç–µ—Ä–∏–Ω–∞'],'–§–∞–º–∏–ª–∏—è': ['–ï–≥–æ—Ä–æ–≤–∞', '–¢–∏—â–µ–Ω–∫–æ', '–¢–∏—â–µ–Ω–∫–æ', '–ü–µ–Ω—å–∫–æ–≤', '–ù–∏–∫–æ–Ω–æ–≤–∞'], '–°—Ç–∞–∂':[6,18,12,4,10]})
status

         –ò–º—è   –§–∞–º–∏–ª–∏—è  –°—Ç–∞–∂
0       –ê–Ω–Ω–∞   –ï–≥–æ—Ä–æ–≤–∞     6
1     –°–µ—Ä–≥–µ–π   –¢–∏—â–µ–Ω–∫–æ    18
2    –ê–ª–µ–∫—Å–µ–π   –¢–∏—â–µ–Ω–∫–æ    12
3     –°–µ—Ä–≥–µ–π   –ü–µ–Ω—å–∫–æ–≤     4
4  –ï–∫–∞—Ç–µ—Ä–∏–Ω–∞  –ù–∏–∫–æ–Ω–æ–≤–∞    10

In [40]:
df.merge(status, on='–ò–º—è', how = 'outer')

         –ò–º—è –§–∞–º–∏–ª–∏—è_x  –Ø–Ω–≤–∞—Ä—å  –§–µ–≤—Ä–∞–ª—å  –ú–∞—Ä—Ç –§–∞–º–∏–ª–∏—è_y  –°—Ç–∞–∂
0       –ê–Ω–Ω–∞   –ï–≥–æ—Ä–æ–≤–∞    1000     1100   950   –ï–≥–æ—Ä–æ–≤–∞     6
1     –°–µ—Ä–≥–µ–π   –¢–∏—â–µ–Ω–∫–æ    1300     1250  1320   –¢–∏—â–µ–Ω–∫–æ    18
2     –°–µ—Ä–≥–µ–π   –¢–∏—â–µ–Ω–∫–æ    1300     1250  1320   –ü–µ–Ω—å–∫–æ–≤     4
3     –°–µ—Ä–≥–µ–π   –ü–µ–Ω—å–∫–æ–≤    1100     1100  1200   –¢–∏—â–µ–Ω–∫–æ    18
4     –°–µ—Ä–≥–µ–π   –ü–µ–Ω—å–∫–æ–≤    1100     1100  1200   –ü–µ–Ω—å–∫–æ–≤     4
5    –ê–ª–µ–∫—Å–µ–π  –ú–∞–µ–≤—Å–∫–∏–π     800      750   900   –¢–∏—â–µ–Ω–∫–æ    12
6  –ï–∫–∞—Ç–µ—Ä–∏–Ω–∞  –ù–∏–∫–æ–Ω–æ–≤–∞    2000     1800  1950  –ù–∏–∫–æ–Ω–æ–≤–∞    10

–ö–∞–∫ –≤–∏–¥–∏–º, –ø–æ—è–≤–∏–ª–∏—Å—å –Ω–æ–≤—ã–µ —Å—Ç—Ä–æ–∫–∏ –∏ —Å—Ç–æ–ª–±—Ü—ã: –∫–∞–∂–¥–æ–º—É –°–µ—Ä–≥–µ—é –∏–∑ –ø–µ—Ä–≤–æ–π —Ç–∞–±–ª–∏—Ü—ã —Å–æ–ø–æ—Å—Ç–∞–≤–ª—è—é—Ç—Å—è –¥–≤–∞ –°–µ—Ä–≥–µ—è –∏–∑ –≤—Ç–æ—Ä–æ–π. –ß—Ç–æ–±—ã —ç—Ç–æ–≥–æ –∏–∑–±–µ–∂–∞—Ç—å, –º–æ–∂–Ω–æ –≤–æ—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å—Å—è —Å–æ—Å—Ç–∞–≤–Ω—ã–º –∫–ª—é—á–æ–º:

In [41]:
df.merge(status, on=['–ò–º—è','–§–∞–º–∏–ª–∏—è'], how = 'outer')

         –ò–º—è   –§–∞–º–∏–ª–∏—è  –Ø–Ω–≤–∞—Ä—å  –§–µ–≤—Ä–∞–ª—å    –ú–∞—Ä—Ç  –°—Ç–∞–∂
0       –ê–Ω–Ω–∞   –ï–≥–æ—Ä–æ–≤–∞  1000.0   1100.0   950.0   6.0
1     –°–µ—Ä–≥–µ–π   –¢–∏—â–µ–Ω–∫–æ  1300.0   1250.0  1320.0  18.0
2    –ê–ª–µ–∫—Å–µ–π  –ú–∞–µ–≤—Å–∫–∏–π   800.0    750.0   900.0   NaN
3     –°–µ—Ä–≥–µ–π   –ü–µ–Ω—å–∫–æ–≤  1100.0   1100.0  1200.0   4.0
4  –ï–∫–∞—Ç–µ—Ä–∏–Ω–∞  –ù–∏–∫–æ–Ω–æ–≤–∞  2000.0   1800.0  1950.0  10.0
5    –ê–ª–µ–∫—Å–µ–π   –¢–∏—â–µ–Ω–∫–æ     NaN      NaN     NaN  12.0

–¢–∞–∫–æ–π –∫–æ–¥ –æ–±–µ—Å–ø–µ—á–∏—Ç –∫–æ—Ä—Ä–µ–∫—Ç–Ω—É—é —Ä–∞–±–æ—Ç—É –¥–∞–∂–µ –≤ —Å–ª—É—á–∞–µ, –µ—Å–ª–∏ –≤ —Ñ–∏—Ä–º–µ –±—É–¥—É—Ç –æ–¥–Ω–æ—Ñ–∞–º–∏–ª—å—Ü—ã - —Å—Ç—Ä–æ–∫–∏ –∑–∞–¥–∞—é—Ç—Å—è –æ–¥–Ω–æ–∑–Ω–∞—á–Ω–æ –ø–∞—Ä–∞–º–∏ *–ò–º—è-–§–∞–º–∏–ª–∏—è*.

### –ë–æ–Ω—É—Å: –≥–µ–Ω–µ—Ä–∞—Ü–∏—è —Å–ø–∏—Å–∫–æ–≤ –∏ —Å–ª–æ–≤–∞—Ä–µ–π.

–¢–∞–∫–∂–µ, –≤ —ç—Ç–æ–º —Å–ø—Ä–∏–Ω—Ç–µ –≤–∞–º —Å—Ç–∞–ª–∏ –≤—Å—Ç—Ä–µ—á–∞—Ç—å—Å—è –ø—Ä–∏–º–µ—Ä—ã —Å –≥–µ–Ω–µ—Ä–∞—Ü–∏–µ–π —Å–ø–∏—Å–∫–æ–≤ –∏ –Ω–µ –≤—Å–µ –ø–æ–Ω–∏–º–∞—é—Ç, —á—Ç–æ —ç—Ç–æ –∑–∞ –¥–∏–≤–Ω–∞—è –∫–æ–Ω—Å—Ç—Ä—É–∫—Ü–∏—è. –î–∞–≤–∞–π—Ç–µ –∫–æ—Ä–æ—Ç–∫–æ —Ä–∞–∑–±–µ—Ä–µ–º—Å—è —Å –Ω–µ–π.

–î–æ–ø—É—Å—Ç–∏–º, —É –Ω–∞—Å –µ—Å—Ç—å —Å–ø–∏—Å–æ–∫ –∑–∞—Ä–ø–ª–∞—Ç –Ω–∞—à–∏—Ö –∞–Ω–∞–ª–∏—Ç–∏–∫–æ–≤ –∑–∞ —è–Ω–≤–∞—Ä—å –±–µ–∑ —É—á–µ—Ç–∞ –Ω–∞–ª–æ–≥–æ–≤:

In [42]:
jan_list = df['–Ø–Ω–≤–∞—Ä—å'].tolist()
jan_list

[1000, 1300, 800, 1100, 2000]

–¢–µ–ø–µ—Ä—å –º—ã —Ö–æ—Ç–∏–º –ø–æ—Å—á–∏—Ç–∞—Ç—å, —Å–∫–æ–ª—å–∫–æ –æ–Ω–∏ —Ä–µ–∞–ª—å–Ω–æ –ø–æ–ª—É—á–∞—Ç, –ø–æ—Å–ª–µ –≤—ã—á–µ—Ç–∞ –ù–î–§–õ. –ü—Ä–æ–π–¥–µ–º –ø–æ —Å–ø–∏—Å–∫—É, –≤—ã—á—Ç—è –∏–∑ –∫–∞–∂–¥–æ–π –∑–∞—Ä–ø–ª–∞—Ç—ã –Ω–∞–ª–æ–≥–∏:

In [43]:
net_salaries = []  # —Å–æ–∑–¥–∞–¥–∏–º —Å–ø–∏—Å–æ–∫ —Å "—á–∏—Å—Ç—ã–º–∏" –∑–∞—Ä–ø–ª–∞—Ç–∞–º–∏


for salary in jan_list:
    net = salary * 0.87 #—Å—á–∏—Ç–∞–µ–º —á–∏—Å—Ç—É—é –∑–∞—Ä–ø–ª–∞—Ç—É –∑–∞ –≤—ã—á–µ—Ç–æ–º —Ç—Ä–∏–Ω–∞–¥—Ü–∞—Ç–∏ –ø—Ä–æ—Ü–µ–Ω—Ç–æ–≤
    net_salaries.append(net)  #–¥–æ–±–∞–≤–ª—è–µ–º –≤ —Å–ø–∏—Å–æ–∫
    
net_salaries

[870.0, 1131.0, 696.0, 957.0, 1740.0]

–û—Ç–ª–∏—á–Ω–æ, –º—ã –∑–∞–ø–ª–∞—Ç–∏–ª–∏ –Ω–∞–ª–æ–≥–∏ –∏ –º–æ–∂–µ–º —Å–ø–∞—Ç—å —Å–ø–æ–∫–æ–π–Ω–æ! –û–¥–Ω–∞–∫–æ –Ω–∞ –ø–æ–¥–æ–±–Ω–æ–µ –¥–µ–π—Å—Ç–≤–∏–µ –ø—Ä–∏—Ö–æ–¥–∏—Ç—Å—è –≤—ã–ø–æ–ª–Ω—è—Ç—å –¥–æ–≤–æ–ª—å–Ω–æ —á–∞—Å—Ç–æ –∏ –∫–∞–∂–¥—ã–π —Ä–∞–∑ –ø–∏—Å–∞—Ç—å –¥–ª—è —ç—Ç–æ–≥–æ —Ü–∏–∫–ª –Ω–µ—É–¥–æ–±–Ω–æ. –î–ª—è —É–ø—Ä–æ—â–µ–Ω–∏—è —Å–æ–∑–¥–∞–Ω–∏—è –Ω–æ–≤—ã—Ö —Å–ø–∏—Å–∫–æ–≤ –ø—Ä–∏–º–µ–Ω—è–µ—Ç—Å—è —ç—Ç–∞ —Å–∞–º–∞—è *–≥–µ—Ä–µ–Ω–µ—Ü–∏—è —Å–ø–∏—Å–∫–æ–≤*.  
–î–∞–≤–∞–π—Ç–µ –ø–æ–ø–æ—Ä–±—É–µ–º —Å–¥–µ–ª–∞—Ç—å —Ç–æ –∂–µ —Å–∞–º–æ–µ —Å –µ—ë –ø—Ä–∏–º–µ–Ω–µ–Ω–∏–µ–º:

In [44]:
net_salaries = [salary * 0.87 for salary in jan_list]
net_salaries

[870.0, 1131.0, 696.0, 957.0, 1740.0]

–ü–æ–ª—É—á–∏–ª–∏ —Ç–æ—Ç –∂–µ —Å–∞–º—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç, –Ω–æ –≤ –æ–¥–Ω—É –∫–æ—Ä–æ—Ç–∫—É—é —Å—Ç—Ä–æ–∫—É! –í—ã—Ä–∞–∂–µ–Ω–∏–µ `for salary in jan_list` –≥–æ–≤–æ—Ä–∏—Ç –æ —Ç–æ–º, —á—Ç–æ –º—ã –ø—Ä–æ—Ö–æ–¥–∏–º —Ü–∏–∫–ª–æ–º –ø–æ —Å–ø–∏—Å–∫—É `jan_list`, –Ω–∞ –∫–∞–∂–¥–æ–π –∏—Ç–µ—Ä–∞—Ü–∏–∏ —Å–æ—Ö—Ä–∞–Ω—è—è –æ—á–µ—Ä–µ–¥–Ω–æ–π —ç–ª–µ–º–µ–Ω—Ç –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π `salary`. –î–∞–ª–µ–µ, –≤ –ª–µ–≤–æ–π —á–∞—Å—Ç–∏ –≤—ã—Ä–∞–∂–µ–Ω–∏—è, –¥–µ–ª–∞–µ–º —Å —ç—Ç–∏–º —ç–ª–µ–º–µ–Ω—Ç–æ–º, —á—Ç–æ —Ö–æ—Ç–∏–º: —É–º–Ω–æ–∂–∞–µ–º, –¥–µ–ª–∏–º, –ø—Ä–∏–º–µ–Ω—è–µ–º –ª—é–±—ã–µ —Ñ—É–Ω–∫—Ü–∏–∏. –ù–∞ –≤—ã—Ö–æ–¥–µ –ø–æ–ª—É—á–∞–µ–º –Ω–æ–≤—ã–π —Å–ø–∏—Å–æ–∫. –û —Ç–æ–º, —á—Ç–æ –º—ã —Ö–æ—Ç–∏–º –ø–æ–ª—É—á–∏—Ç—å –∏–º–µ–Ω–Ω–æ —Å–ø–∏—Å–æ–∫, –≥–æ–≤–æ—Ä—è—Ç –∫–≤–∞–¥—Ä–∞—Ç–Ω—ã–µ —Å–∫–æ–±–∫–∏, –≤ –∫–æ—Ç–æ—Ä—ã–µ –º—ã –≤–∑—è–ª–∏ –≤—ã—Ä–∞–∂–µ–Ω–∏–µ.  
–û–¥–Ω–∞–∫–æ –ø–æ–¥–æ–±–Ω—ã–º –æ–±—Ä–∞–∑–æ–º –º—ã –º–æ–∂–µ–º —Å–≥–µ—Ä–µ–Ω–∏—Ä–æ–≤–∞—Ç—å –∏ —Å–ª–æ–≤–∞—Ä—å. –î–∞–≤–∞–π—Ç–µ —Å–æ–∑–¥–∞–¥–∏–º –Ω–∞ –æ—Å–Ω–æ–≤–µ `jan_list` —Å–ª–æ–≤–∞—Ä—å, –≤ –∫–æ—Ç–æ—Ä–æ–º –∫–ª—é—á–∞–º–∏ –±—É–¥—É—Ç –±–∞–∑–æ–≤—ã–µ –∑–∞—Ä–ø–ª–∞—Ç—ã, –∞ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ "—á–∏—Å—Ç—ã–µ", –∑–∞ –≤—ã—á–µ—Ç–æ–º –Ω–∞–ª–æ–≥–æ–≤:

In [45]:
{salary:salary * 0.87 for salary in jan_list}

{1000: 870.0, 1300: 1131.0, 800: 696.0, 1100: 957.0, 2000: 1740.0}

–ö–∞–∫ –≤–∏–¥–∏–º, –¥–ª—è –≥–µ–Ω–µ—Ä–∞—Ü–∏–∏ —Å–ª–æ–≤–∞—Ä—è –º—ã –±–µ—Ä–µ–º –≤—ã—Ä–∞–∂–µ–Ω–∏–µ –≤ —Ñ–∏–≥—É—Ä–Ω—ã–µ —Å–∫–æ–±–∫–∏, –∞ –≤ –ª–µ–≤–æ–π —á–∞—Å—Ç–∏ —É–∫–∞–∑—ã–≤–∞–µ–º –∫–ª—é—á–∏ –∏ –∑–Ω–∞—á–µ–Ω–∏—è —á–µ—Ä–µ–∑ –¥–≤–æ–µ—Ç–æ—á–∏–µ.  
–ù—É –∏ –Ω–∞–ø–æ—Å–ª–µ–¥–æ–∫, –¥–∞–≤–∞–π—Ç–µ –¥–æ–±–∞–≤–∏–º –≤ –Ω–∞—à –≥–µ–Ω–µ—Ä–∞—Ç–æ—Ä —É—Å–ª–æ–≤–∏–µ. –ù–∞–ø—Ä–∏–º–µ—Ä, –Ω–∞—Å –∏–Ω—Ç–µ—Ä–µ—Å—É—Ç —Ç–æ–ª—å–∫–æ –∑–∞—Ä–∞–ª–∞—Ç—ã –Ω–∏–∂–µ 1200:

In [46]:
{salary:salary * 0.87 for salary in jan_list if salary < 1200}

{1000: 870.0, 800: 696.0, 1100: 957.0}

–í–∏–¥–∏–º, —á—Ç–æ —Ñ–∏–ª—å—Ç—Ä –æ—Ç—Ä–∞–±–æ—Ç–∞–ª –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ. –°–æ–≥–ª–∞—Å–µ–Ω, –ø–µ—Ä–≤–æ–µ –≤—Ä–µ–º—è –Ω–µ–º–Ω–æ–≥–æ –∫–∏–ø–∏—Ç –º–æ–∑–≥ –æ—Ç –ø–µ—Ä–µ—Å—Ç–∞–Ω–æ–≤–∫–∏ –ø—Ä–∏–≤—ã—á–Ω–æ–≥–æ –ø–æ—Ä—è–¥–∫–∞, –Ω–æ –Ω–µ–º–Ω–æ–≥–æ –ø—Ä–∏–≤—ã–∫–Ω—É–≤, –≤—ã –ø–æ–π–º–µ—Ç–µ, —á—Ç–æ –Ω–∞ —Å–∞–º–æ–º –¥–µ–ª–µ —ç—Ç–æ –æ—á–µ–Ω—å —É–¥–æ–±–Ω–æ –∏ —á–∏—Ç–∞–µ–º–æ.

–ù–∞ —ç—Ç–æ–º –Ω–∞ —Å–µ–≥–æ–¥–Ω—è –≤—Å–µ, —Å–ø–∞—Å–∏–±–æ –≤—Å–µ–º, –∫—Ç–æ –¥–æ—á–∏—Ç–∞–ª! üëç